@font-face {
  font-family: "Betatron-Regular";
  src: url("../public/fonts/Betatron-Regular.woff2") format("woff2"),
    url("../public/fonts/Betatron-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

* {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  font-family: "Inter Tight";
  font-size: 1.5rem;
  font-weight: 100;
}

#name {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  height: 50px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#name h1 {
  font-family: "Inter Tight";
  font-size: 22px;
  font-weight: 500;
}

#name:hover {
  opacity: 100;
  transition: all 0.6s;
}

.bk {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  position: relative;
}

.wh {
  position: relative;
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

section {
  scroll-snap-align: center;
}

.wh > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wh video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: relative;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: white;
}

.img-container {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: white;
}

.headline-1,
.headline-1-i {
  font-family: "Betatron-Regular";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10vw;
}

.headline-2,
.headline-2-i {
  font-family: "Betatron-Regular";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10vw;
}

.plus {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
  transition: all 1s;
  color: white;
}

.plus span {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  margin-left: 13px;
  rotate: 45deg;
  transition: all 1s;
}

.plus span svg {
  transition: all 1s;
}

.plus:hover span svg {
  stroke: #fff;
  transition: stroke-opacity 0.3s;
  transition: rotate 1s;
}

.plus.open {
  transition: all 1s;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  background-color: rgba(0, 0, 0, 0.8);
}

.plus.open svg {
  transition: all 1s;
  rotate: 45deg;
}

.ls-info {
  opacity: 0;
}

.plus.open .ls-info {
  opacity: 100;
  transition: all 2s cubic-bezier(0.87, 0, 0.58, 0.02);
}

.info p {
  margin: 4rem;
  text-align: center;
}

.bb-headline {
  position: relative;
  font-size: 2vw;
  width: 600px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

#bearbrick {
  background-image: linear-gradient(
    to top,
    #f1f1f1,
    #f4f4f4,
    #f8f8f8,
    #fbfbfb,
    #ffffff
  );
  display: grid;
  grid-template-columns: 4fr 6fr;
  position: relative;
  align-items: center;
  justify-items: center;
}

.empty {
  width: 40vw;
}

.brand-container {
  translate: 0 -55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 30vw;
  margin: 2rem;
  background-color: rgba(0, 160, 252, 0.9);
  backdrop-filter: blur(22px);
  z-index: 25;
  gap: 2vw;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
  animation: beat 2s ease-in-out 0s infinite alternate;
}

@keyframes beat {
  to {
    height: 38vw;
    width: 38vw;
  }
}

.brand-container:hover {
  transition: all 0.3s;
}

.brand-container img {
  height: 7vw;
}

.brands {
  display: flex;
  gap: 2vw;
}

#big-bear {
  position: absolute;
  translate: -40%;
  object-fit: contain;
  z-index: 5;
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4))
    drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.7))
    drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8))
    drop-shadow(0px 0px 800px rgba(255, 255, 255, 1));
}

#bear-move1 {
  position: absolute;
  top: 100%;
  right: 10%;
  rotate: -35deg;
  height: 200px;
  width: auto;
  filter: blur(10px);
  opacity: 1;
  z-index: 2;
  animation: bear-move1 8s linear 0s infinite, rotation 40s linear 0s infinite;
}

#bear-move2 {
  position: absolute;
  top: 100%;
  right: -10%;
  rotate: 35deg;
  height: 500px;
  width: auto;
  filter: blur(4px);
  opacity: 1;
  animation: bear-move2 10s linear 0s infinite, rotation 20s linear 0s infinite;
  z-index: 3;
}

#bear-move3 {
  position: absolute;
  top: 100%;
  right: -10%;
  rotate: 35deg;
  height: 80px;
  width: auto;
  filter: blur(12px);
  opacity: 1;
  animation: bear-move3 6s linear infinite, rotation 2s linear 0s infinite;
  z-index: 1;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes bear-move1 {
  from {
    top: 100%;
    right: -10%;
  }
  to {
    top: -20%;
    right: 50%;
  }
}

@keyframes bear-move2 {
  from {
    top: 100%;
    right: 60%;
  }
  to {
    top: -50%;
    right: 10%;
  }
}

@keyframes bear-move3 {
  0% {
    top: -30%;
    left: -20%;
  }
  33.333% {
    top: 130%;
    left: 120%;
  }
  100% {
    top: 130%;
    left: 120%;
  }
}

.small-bear {
  z-index: 200;
  height: calc(100px * var(--scale));
  padding: 0 3rem 0 3rem;
  cursor: pointer;
}

#bb-hover {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(18px);
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0rem;
  display: flex;
  height: 110px;
  width: inherit;
  justify-self: center;
  justify-content: center;
  align-items: flex-end;
  z-index: 150;
  --scale: 1;
  padding: 1rem;
}

.center-text {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  color: black;
}

.changecol {
  margin: 1rem;
  font-weight: 800;
  cursor: pointer;
  background: linear-gradient(90deg, #39d4f7, #f739d7, #ebf92e);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: color 0.5s;
}

.interaction-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 15vw; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #111111; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.changecol:hover {
  background: none;
  background-clip: unset;
  color: black;
  transition: color 0.5s;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}

#sunglasses {
  position: relative;
}

#sun {
  height: 100vh;
}

@media only screen and (max-width: 850px) {
  #bb-hover {
    height: 80px;
    transition: height 1s;
  }

  .wh img.small-bear {
    height: calc(65px * var(--scale));
    padding: 0 1rem 0 1rem;
    justify-self: end;
  }
}
